PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/finan-smart
JWT_SECRET=your-super-secret-jwt-key-change-this
OPENAI_API_KEY=ABSKTWFudGxlQXBpS2V5LWRucms0cDVvLWF0LTI1MjYxMDMzNDY2MDpFZ3pVOE44MkpObjRuRFVGTk05NUo4alRJaUFMYjFJbXNFSlYvbU5XdGJhZVBwM1pQY3RrOW1jS1cxcz0=
OPENAI_BASE_URL=https://bedrock-mantle.ap-south-1.api.aws/v1
OPENAI_PROJECT_ID=default
OPENAI_MODEL=openai.gpt-oss-120b
VISION_MODEL=us.anthropic.claude-haiku-4-5-20251001-v1:0
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=AKIAYVX2CMXFNVK3DKWY
AWS_SECRET_ACCESS_KEY=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
