PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/finan-smart
JWT_SECRET=your-super-secret-jwt-key-change-this
OPENAI_API_KEY=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
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=AKIAYVX2CMXFAGW7OKP3
AWS_SECRET_ACCESS_KEY=bUmgCZ3rLeTIyokfes+k7zEjKCeK0xHziqgz1Uq
BEDROCK_MODEL_ID=amazon.nova-pro-v1:0
