PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/finan-smart
JWT_SECRET=your-super-secret-jwt-key-change-this
OPENAI_API_KEY=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
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAYVX2CMXFNVK3DKWY
AWS_SECRET_ACCESS_KEY=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
BEDROCK_MODEL_ID=amazon.nova-pro-v1:0
